Source: iguanair-reflasher
Section: unknown
Priority: extra
Maintainer: IguanaWorks Incorporated <debsupport@iguanaworks.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: iguanair-reflasher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iguanair-python (>=0.91)
Description: This program will reflash the IguanaWorks USB Transceiver
	with the lated version of teh firmware
 .
