[Unit]
Description=Iguanaworks USB IR transceiver

[Service]
User=iguanair
Group=iguanair
EnvironmentFile=/etc/default/iguanaIR
ExecStart=/usr/bin/igdaemon $DRIVERS $OPTIONS \
                            --log-level=${LOGLEVEL} \
                            --send-timeout=${SENDTIMEOUT} \
                            --receive-timeout=${RECEIVETIMEOUT} \
                            --no-daemon

[Install]
WantedBy=multi-user.target

