#!/usr/bin/make -f
#	Rules file for iguanair, requires the debhelper package.
#	Crafted by IguanaWorks Support support@iguanaworks.net, 14 March 2008 

# Comment this to turn off debhelper verbose mode.
export DH_VERBOSE=1

DEB_BUILD_GNU_TYPE = $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE = $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
CONFARGS = --host=$(DEB_HOST_GNU_TYPE)
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	mkdir -p build;	cd build;cmake .. -DBOOTSTRAP_DIR=bootstrap/  ;cd ..
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE) -C build
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp configure-stamp
	rm -rf $(CURDIR)/build
	dh_clean

	# remove the build directories
	rm -rf $(CURDIR)/debian/iguanair $(CURDIR)/debian/iguana-python

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_makeshlibs

	# main install
	make -C build install DESTDIR=$(CURDIR)/debian/iguanair
	
	#add symlink for library
	#ln -s libiguanaIR.so libiguanaIR.so.0
	#mv libiguanaIR.so.0 $(CURDIR)/debian/tmp/usr/lib/

	# move the python stuff into it's sub package
	mkdir -p $(CURDIR)/debian/iguanair-python/usr/lib
	mv $(CURDIR)/debian/iguanair/usr/lib/python* $(CURDIR)/debian/iguanair-python/usr/lib

	#move the reflasher stuff into it's sub system
	mkdir -p $(CURDIR)/debian/iguanair-reflasher/usr/bin
	mkdir -p $(CURDIR)/debian/iguanair-reflasher/usr/share/
	mv $(CURDIR)/debian/iguanair/usr/share/iguanaIR-reflasher $(CURDIR)/debian/iguanair-reflasher/usr/share/
	mv $(CURDIR)/debian/iguanair/usr/bin/iguanaIR-reflasher $(CURDIR)/debian/iguanair-reflasher/usr/bin/
	#dh_pysupport
	dh_python2 --no-guessing-versions





binary-indep:	build install

binary-arch:	build install
	dh_testdir
	dh_testroot
	dh_installdocs AUTHORS LICENSE LICENSE-LGPL WHY README.txt ChangeLog
#	dh_installmanpages
#	dh_installinfo doc/gzip.info
	dh_installchangelogs ChangeLog
	dh_link
#	dh_strip
	dh_compress
#	ln -s gunzip.1.gz debian/gzip/usr/share/man/man1/uncompress.1.gz
#	ln -s zgrep.1.gz debian/gzip/usr/share/man/man1/zegrep.1.gz
#	ln -s zgrep.1.gz debian/gzip/usr/share/man/man1/zfgrep.1.gz
	dh_fixperms
	# You may want to make some executables suid here.
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

