Source: iguanair
Section: utils
Priority: optional
Maintainer: IguanaWorks [support@iguanaworks.net]
Build-Depends: debhelper (>=5), libusb-1.0-0-dev, python-dev (>=2.6.6-3~), autoconf, automake, swig, fakeroot
Standards-Version: 3.7.2.2

Package: iguanair
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, udev (>= 0.99)
Essential: no
Recommends: lirc
Description: This is the IguanaWorks USB IR daemon/driver and
             client. Software allows you to control your IguanaWorks
             USB IR device. Includes software for use with lirc.

Package: iguanair-python
Section: utils
Architecture: any
Depends: iguanair (= ${binary:Version}), ${shlibs:Depends}, ${python:Depends}
Essential: no
Description: This is the Python client bindings IguanaWorks USB IR
	     driver.


Package: iguanair-reflasher
Section: utils
Architecture: all
Depends: iguanair-python (= ${binary:Version})
Essential: no
Description: The program will reflash the IguanaWorks USB IR Transceiver with the
		the latest firmware.

