##################################
# As of udev 098:
#   SYSFS -> ATTRS
#   BUS   -> SUBSYSTEMS
#   ID    -> KERNELS
#
# Be nice to detect the version and do the right thing, but for now
# I'll use the old names and rely on backwards compatibility.  Tested
# on FC6 and Debian unstable.

SYSFS{manufacturer} == "IguanaWorks", \
               OWNER = "iguanair", GROUP = "iguanair", MODE = "0664", \
               RUN = "/etc/init.d/iguanaIR rescan"

# DEBUGGING ADDITION:
#RUN += "/bin/bash -c 'echo $major $minor r=$result i=$id n=$number k=$kernel p=$parent r=$root >> /tmp/udev.txt'"
